.main-content{
  position: relative;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.app-container{
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente en el centro, ajusta según tus necesidades */
  flex-wrap: wrap;
}

.app-banner .app-codescreen{
  display: flex;
}

.app-projects{
  align-self: center;
}


.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover; /* Ajusta el tamaño del video para cubrir completamente el contenedor */
  opacity: .5;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
}

/* Parallax */
